.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.navbar{
    position: sticky;
    top: 0px;
    left: 0px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}